.profile {
  display: flex;
  padding-left: 2rem;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  height: 100%;
}

.profile .setting-icon {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  color: #528fb3;
  cursor: pointer;
}

.profile .setting-icon:hover {
  color: #2b82b4;
}

.profile .profile-img img {
  position: relative;
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: 5px solid #e83283;
  border-radius: 50%;
  padding: 3px;
}

.profile .profile-name .name-img > h1 {
  font-weight: 600;
  color: #212529;
}

.profile .profile-name .name-img > img {
  height: 35px;
  width: 35px;
  object-fit: contain;
}

.profile .profile-name > h6 {
  font-size: 1rem;
  font-weight: 500;
  margin-top: -0.75rem;
  color: #212529;
}

.profile .profile-name > p {
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.5;
  margin-top: -0.5rem;
  color: #212529;
}

.profile .profile-btn button {
  padding: 0.45rem 1rem;
}

.profile .profile-about .about,
.profile .profile-about .add {
  font-size: 1rem;
  font-weight: 500;
  word-wrap: break-word;
  line-height: 1.2rem;
  color: #212529;
}

.profile .profile-about .add span {
  color: #3a8fd9;
}

.profile .profile-counter .counter-moment h5 span:first-child,
.profile .profile-counter .counter-follower h5 span:first-child,
.profile .profile-counter .counter-following h5 span:first-child {
  font-size: 1.25rem;
  font-weight: 700;
  margin-right: 0.5rem;
  color: #212529;
}

.profile .profile-counter .counter-moment h5 span:last-child,
.profile .profile-counter .counter-follower h5 span:last-child,
.profile .profile-counter .counter-following h5 span:last-child {
  font-size: 1.25rem;
  font-weight: 500;
  opacity: 0.7;
  color: #212529;
}

.profile .profile-counter .counter-moment h5 a span:last-child:hover,
.profile .profile-counter .counter-follower h5 a span:last-child:hover,
.profile .profile-counter .counter-following h5 a span:last-child:hover {
  color: #3a8fd9;
  text-decoration-color: #3a8fd9 !important;
  opacity: 1;
}

/********************************************************/
.dashbord .user-detail {
  flex: 0.5;
}

.dashbord .dashbord-list {
  background-color: #fff;
  height: 114vh;
  width: 100%;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1.5rem 1.25rem;
  border-left: 1px solid lightgray;
}

.dashbord .dashbord-moments {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  height: 114vh;
  width: 100%;
  padding: 1rem 1.25rem;
  display: grid;
  background-color: #fff;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  row-gap: 1rem;
  columns: 1rem;
  border-left: 1px solid lightgray;
}

.dashbord .dashbord-moments::-webkit-scrollbar,
.dashbord .dashbord-list::-webkit-scrollbar {
  height: 12px;
  width: 5px;
  background: #fff;
}

.dashbord .dashbord-moments::-webkit-scrollbar-thumb,
.dashbord .dashbord-list::-webkit-scrollbar-thumb {
  background: #5f5f5d;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

.dashbord .dashbord-moments::-webkit-scrollbar-corner,
.dashbord .dashbord-list::-webkit-scrollbar-corner {
  background: #000;
}

.dashbord .dashbord-moments div a img {
  width: 220px;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.faded {
  background-color: #6610f2;
  border-color: #6610f2;
}

@media (max-width: 991px) {
  .dashbord .dashbord-moments {
    padding: 0 5px;
    row-gap: 10px;
    columns: 10px;
  }
}

@media (max-width: 768px) {
  .dashbord {
    flex-direction: column;
  }

  .profile {
    padding: 0;
  }

  .profile .img-btns {
    display: flex;
    justify-content: center;
  }

  .profile .setting-icon {
    display: none;
  }
  .profile .other-link {
    display: block !important;
  }
  .profile .other-link .setting-icon2 {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: #528fb3;
    cursor: pointer;
  }

  .profile .img-btns .name-btns {
    margin-left: 3rem;
    margin-top: -1.3rem;
  }

  .profile .about-links {
    border-bottom: 1px solid lightgrey;
  }

  .profile .about-links .profile-about {
    width: fit-content;
    margin: auto;
  }

  .profile .about-links .profile-counter {
    display: flex;
    justify-content: space-around;
  }

  .dashbord .dashbord-moments {
    height: fit-content;
    padding: 20px 10px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    columns: 10px;
  }
}

@media (max-width: 576px) {
  .profile .img-btns {
    flex-direction: column;
    align-items: center;
  }

  .profile .img-btns .name-btns {
    margin-left: 0;
    text-align: center;
  }

  .profile .img-btns .name-btns .profile-name .name-img {
    justify-content: center;
  }

  .profile .img-btns .profile-img {
    margin-bottom: 2.5rem;
  }
  .profile .profile-img img {
    height: 180px;
    width: 180px;
  }

  .profile .profile-name .name-img > h1 {
    font-weight: 600;
    font-size: 2rem;
  }

  .profile .about-links .profile-about p:last-child {
    display: none;
  }

  .profile .about-links .profile-about p.about {
    padding-left: 10px;
    font-size: 14px;
    text-align: left;
    line-height: 22px;
  }

  .profile .about-links .profile-counter h5 span {
    font-size: 17px !important;
  }

  .dashbord {
    margin-top: 2.3rem;
  }

  .dashbord .dashbord-moments {
    height: fit-content;
    padding: 20px 10px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    row-gap: 30px;
    columns: 0;
  }
}
