.edit-profile {
  padding-top: 1rem;
  position: relative;
}

.edit-profile .profile {
  width: 50%;
  padding: 3.4rem 3rem;
}

.edit-profile .profile > a img {
  margin-top: -2rem;
  height: 80px;
  width: 200px;
  object-fit: contain;
}

.edit-profile .profile .profile-img {
  position: relative;
}

.edit-profile .profile .profile-img img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: 5px solid #e83283;
  border-radius: 50%;
}

.edit-profile .profile .profile-img .icon {
  position: absolute;
  bottom: 1rem;
  right: 5rem;
  color: #3a8fd9;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.edit-profile .profile form button {
  padding: 0.45rem 1rem;
}

.edit-profile .profile form input::placeholder {
  color: #db88ad;
  font-weight: 500;
}

.edit-profile .profile form select {
  color: #e83283;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.edit-profile .profile form input,
.edit-profile .profile form select {
  height: 2.5rem;
  border-radius: 0.25rem;
}

/****************************************************************/
@media (max-width: 991px) {
  .edit-profile .profile {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .edit-profile .profile {
    width: 75%;
  }
}

@media (max-width: 767px) {
  .edit-profile .profile {
    width: 95%;
    margin-top: -0.5rem !important;
  }

  .edit-profile .profile .profile-img .icon {
    right: 1rem;
  }

  .edit-profile .profile .profile-img .icon {
    display: block !important;
  }
}
